<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>FreeScreenshot</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.prosamik.freescreenshot</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FreeScreenshot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Samik Choudhury. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>NSCameraUsageDescription</key>
	<string>FreeScreenshot needs access to your camera to capture screenshots.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>FreeScreenshot needs access to screen recording to capture screenshots.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FreeScreenshot needs access to your photos to save screenshots.</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>FreeScreenshot needs to interact with other apps to perform screenshot capture.</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSPrefPaneSpecificationKey</key>
	<string>FreeScreenshot</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist> 